.header-all-width {
   display: flex;
	justify-content: center;
	align-items: center;
   background: #F5F6FB;
   border-bottom: 1px solid #E2E3E5;
}
.header {
   height: 70px;
   width: 1280px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header-search {
   width: 65%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-right: 245px;
   font-size: 18px;
   font-weight: 700;
   font-family: 'Montserrat';
}
.search-img {
   width: 25px;
   padding: 23px;
   cursor: pointer;
}
.search-img:hover {
   width: 6%;
   padding-top: 30px;
   padding-left: 16px;
}
.user-profile {
   width: 35%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   font-weight: 500;
   font-family: 'Roboto';
}
.registration {
   padding: 29px 23px 27px 23px;
}
.registration:hover {
   background: #FF6B09;
   color: white;
   cursor: pointer;
}
.create {
   padding: 29px 24px 27px 24px;
}
.create:hover {
   background: #FF6B09;
   color: white;
   cursor: pointer;
}

.header-menu-all-width {
   display: flex;
	justify-content: center;
	align-items: center;
   background: #F5F6FB;
}
.header-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
   width: 1280px;
}
.header-menu-list {
   padding: 10px;
   border-radius: 5px;
   font-size: 14px;
   font-weight: 700;
   font-family: 'Roboto';
}
.header-menu-list:hover {
   background: #FF6B09;
   cursor: pointer;
   color: white;
}
.header-menu-clean {
   font-size: 12px;
   font-weight: 400;
   font-family: 'Montserrat';
   cursor: pointer;
   padding: 8px;
   border-radius: 5px;
}
.header-menu-clean:hover {
   background: #00000073;
   cursor: pointer;
   color: white;
}
.arrow {
   font-size: 27px;
   font-weight: 700;
   padding-bottom: 3px;
   transform: rotateZ(222deg);
   cursor: pointer;
}