.contacts-all-with {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contacts {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 83px;
	width: 1280px;
	font-family: 'Montserrat';
	font-size: 12px;
	font-weight: 400;
}
.rights-style {
	border-left: 1px solid #E2E3E5;
	border-right: 1px solid #E2E3E5;
	padding: 0 9px;
	margin: 0 9px;
}
.corporate-rights {
	font-weight: bold;
}
.img-style {
	margin: 0 7px;
}
.goit-style {
	text-decoration: underline;
}